<a href="https://colab.research.google.com/github/Srivardini11/lark/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Install**

In [ ]:
!pip install lightkurve --quiet

     |████████████████████████████████| 247 kB 5.1 MB/s
     |████████████████████████████████| 98 kB 3.5 MB/s
     |████████████████████████████████| 41 kB 121 kB/s
     |████████████████████████████████| 4.5 MB 40.4 MB/s
     |████████████████████████████████| 832 kB 38.3 MB/s
     |████████████████████████████████| 54 kB 1.3 MB/s
     |████████████████████████████████| 3.6 MB 43.9 MB/s
  Building wheel for fbpca (setup.py) ... done
  Building wheel for memoization (setup.py) ... done
  Building wheel for oktopus (setup.py) ... done

# **Import**

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib 
import lightkurve as lk
import numpy as np
from astropy.modeling import fitting, models
from astropy.convolution import convolve, Box1DKernel
from astropy.table import Table
from google.colab import files
from scipy.interpolate import interp1d
from astropy.modeling import fitting, models
from astropy.stats import sigma_clip
import seaborn as sb

matplotlib.rcParams['figure.figsize'] = (15,8)
sb.set_style('darkgrid')

# **GitHub**

In [ ]:
!git clone https://github.com/Srivardini11/lark

Cloning into 'lark'...
remote: Enumerating objects: 141, done.
remote: Counting objects: 100% (107/107), done.
remote: Compressing objects: 100% (107/107), done.
remote: Total 141 (delta 46), reused 0 (delta 0), pack-reused 34
Receiving objects: 100% (141/141), 7.32 MiB | 10.42 MiB/s, done.
Resolving deltas: 100% (59/59), done.

In [ ]:
cd lark/data

/content/lark/data

# **Data**

In [ ]:
with open('Fabienne.txt',mode='r') as f:
  dat = f.readlines()
  f.close()
col_names = dat[5].split()[1:]

data = []
for i in dat[6:]:
  data.append([float(j) for j in i.split()])

df = pd.DataFrame(data, columns=col_names)

In [ ]:
df

          KepID  KepMag  Teff(SDSS)  F_8(Corr)  R(Corr)  Zcross
0     1164109.0   10.88      6607.0     0.0630     3.68    27.0
1     1725815.0   10.83      6550.0     0.0497     0.28    75.0
2     1868918.0   11.56      6252.0     0.0470     0.43    84.0
3     2010835.0   11.33      6103.0     0.0530     0.14   245.0
4     2013883.0   11.21      6278.0     0.0556     0.48    32.0
..          ...     ...         ...        ...      ...     ...
537  12555505.0    9.62      5704.0     0.0298     0.29    49.0
538  12600459.0   10.41      6303.0     0.0409     0.43    93.0
539  12602236.0   10.15      6522.0     0.0447     0.89    65.0
540  12690331.0   11.48      6626.0     0.0668     0.51    67.0
541  12735580.0   11.49      6170.0     0.0736     0.33   126.0

[542 rows x 6 columns]

The data used by Bastien is used to crosscheck the working of the code. First, the outliers were removed from the lightcurves. The scattered points are interpolated from the flux values over the time period of nineth quarter. To get the flicker, a third order polynomial is fit. The curves are sigma clipped and using Boxcar fitting, the rms is found.

In [ ]:
download = 0
flr_rms_list  = []
flkr_list     = []
logg_list     = []

count = 0
for id in df['KepID']:
  name    = id
  source  = lk.search_lightcurve(name, author="Kepler", cadence="long",quarter = 9).download()
  count+=1

  flux    = source.remove_nans().flux.value
  time    = source.remove_nans().time.value

  # Interpolating data
  f = interp1d(time,flux)
  size = len(time)*3      # Size increased 3 times
  x = np.linspace(time.min(), time.max(),size)
  y = f(x)

  # Fitting a polynomial of order 3
  init = models.Polynomial1D(3)

  fit  = fitting.LevMarLSQFitter()

  model = fit(init,x,y)
  
  # Model subtraction
  data = y-model(x)

  # Sigma clipping

  flux_out = sigma_clip(data,sigma=2.5)

  mult = size/((time.max()-time.min())*24)

  # Box smoothening with Box size = 8 hours

  smoothed_signal = convolve(data, Box1DKernel(8*mult),boundary='extend')

  flicker = data-smoothed_signal

  flr_rms_list.append(np.sqrt( (flicker**2).mean()))

  logg_list.append(source.LOGG)

The table is added with the calculated Flickers and the error percentage is obtained.

In [ ]:
flr = np.array(flr_rms_list)/1000
flr

array([0.03589925, 0.03267343, 0.01703208, 0.02287165, 0.0275084 ,
       0.02909003, 0.02387901, 0.09434075, 0.03890089, 0.03439012,
       0.0187991 , 0.02677197, 0.14364085, 0.01922619, 0.03399713,
       0.0287648 , 0.0723091 , 0.0187377 , 0.02414035, 0.04420093,
       0.10477693, 0.0253116 , 0.08849043, 0.03636489, 0.01640588,
       0.03844448, 0.02485173, 0.02655428, 0.02413736, 0.15009056,
       0.02359443, 0.35066134, 0.0306814 , 0.03744317, 0.04241397,
       0.03461667, 0.08663568, 0.05888518, 0.09221242, 0.05713015,
       0.03282536, 0.01753622, 0.14984588, 0.08169002, 0.04244851,
       0.18923167, 0.03016978, 0.07597937, 0.02977265, 0.0301848 ,
       0.03977487, 0.0394612 , 0.06186022, 0.10732968, 0.02591699,
       0.027399  , 0.07685552, 0.02225853, 0.01492036, 0.03112161,
       0.11606284, 0.01921283, 0.04120722, 0.0176495 , 0.01808698,
       0.05919273, 0.08006647, 0.13736434, 0.05208457, 0.0449844 ,
       0.03702552, 0.01235548, 0.02591532, 0.01901702, 0.07397833,
       0.04225247, 0.06367982, 0.0533567 , 0.05030515, 0.02978104,
       0.0180963 , 0.02818647, 0.1096985 , 0.02279509, 0.19296485,
       0.04161282, 0.03081414, 0.02214526, 0.02287951, 0.1446251 ,
       0.02926252, 0.03296434, 0.043039  , 0.10248054, 0.6083689 ,
       0.01757158, 0.02072262, 0.02730266, 0.2022271 , 0.0657407 ,
       0.05242764, 0.0242414 , 0.05042597, 0.02753238, 0.03664164,
       0.01884421, 0.11038838, 0.05429011, 0.02093726, 0.01825966,
       0.04339309, 0.07675288, 0.04213633, 0.08957939, 0.02689693,
       0.04954379, 0.02343126, 0.03000006, 0.18193661, 0.10656692,
       0.07592305, 0.04287384, 0.06697816, 0.06127226, 0.02365517,
       0.06110649, 0.02112323, 0.06915552, 0.08500326, 0.02914949,
       0.02421683, 0.16235403, 0.0562098 , 0.01363395, 0.05133852,
       0.12115644, 0.0200982 , 0.08803097, 0.06334677, 0.07070396,
       0.02964951, 0.02571461, 0.02181746, 0.02048779, 0.04241414,
       0.04764369, 0.0574315 , 0.0582266 , 0.02815373, 0.02104411,
       0.01798828, 0.04124739, 0.11786436, 0.06743255, 0.02689529,
       0.04742659, 0.06008446, 0.0208788 , 0.01961707, 0.04395064,
       0.04641476, 0.01889381, 0.05953492, 0.03251927, 0.03727603,
       0.08271648, 0.02017645, 0.02216992, 0.01885429, 0.03614445,
       0.02245849, 0.05512154, 0.07455032, 0.03728137, 0.0205344 ,
       0.03264656, 0.01865153, 0.02436923, 0.05604869, 0.02165963,
       0.02311026, 0.02574918, 0.00545717, 0.02761247, 0.02529427,
       0.02281614, 0.03581433, 0.02371463, 0.02243737, 0.01908178,
       0.02349842, 0.01764239, 0.0233891 , 0.01620287, 0.03632438,
       0.04535241, 0.03315559, 0.04101295, 0.01744192, 0.10146214,
       0.03242843, 0.10172234, 0.0200599 , 0.02438562, 0.21690972,
       0.04741955, 0.02100536, 0.1694503 , 0.02020042, 0.02328911,
       0.01980639, 0.01927633, 0.0273422 , 0.08416239, 0.01951079,
       0.02101798, 0.03664415, 0.03136034, 0.01807965, 0.04540217,
       0.02255564, 0.02000996, 0.02171604, 0.05376503, 0.09068883,
       0.01426104, 0.1268127 , 0.06627443, 0.21294679, 0.04829303,
       0.02929862, 0.02692903, 0.01922965, 0.06908185, 0.04929246,
       0.02520764, 0.01922428, 0.05751841, 0.01673623, 0.04378932,
       0.02352163, 0.02658305, 0.07013141, 0.03669826, 0.02140114,
       0.05101443, 0.01931048, 0.09505576, 0.02472295, 0.01743372,
       0.02575129, 0.04839308, 0.06945409, 0.01875659, 0.04224188,
       0.15558664, 0.02146697, 0.04207288, 0.09779823, 0.0463075 ,
       0.02322736, 0.09855699, 0.03166966, 0.07486771, 0.02926324,
       0.13527314, 0.2591136 , 0.01938261, 0.03442292, 0.05960277,
       0.02820795, 0.06034401, 0.0258771 , 0.0251734 , 0.03385373,
       0.08514922, 0.02879924, 0.01892957, 0.02400001, 0.02425885,
       0.02097017, 0.02289987, 0.04441957, 0.03182045, 0.06402754,
       0.02130115, 0.02642389, 0.05580127, 0.02219816, 0.05099039,
       0.02920761, 0.01917964, 0.0196189 , 0.0253573 , 0.02985064,
       0.02006488, 0.04492482, 0.04080723, 0.01999665, 0.02910335,
       0.05395382, 0.02399175, 0.01681186, 0.04071694, 0.03088786,
       0.04331139, 0.02115871, 0.02644923, 0.07074414, 0.0988253 ,
       0.02336226, 0.01635362, 0.14733254, 0.03468383, 0.02435095,
       0.02470589, 0.07120332, 0.02330889, 0.01626349, 0.01588157,
       0.01941221, 0.06613426, 0.03909239, 0.04734428, 0.01703053,
       0.03461983, 0.02228169, 0.02469024, 0.02846784, 0.02188   ,
       0.02546261, 0.02930065, 0.08914221, 0.0428051 , 0.04706231,
       0.0282288 , 0.0094346 , 0.04039143, 0.12709653, 0.01881481,
       0.02071345, 0.06265237, 0.02187685, 0.03891959, 0.01833165,
       0.03228915, 0.02263266, 0.04969281, 0.02349589, 0.04188723,
       0.10588509, 0.04184793, 0.02065778, 0.04679203, 0.07697248,
       0.02459675, 0.07191122, 0.00995068, 0.02970739, 0.02333201,
       0.0677373 , 0.018109  , 0.03842407, 0.00331307, 0.02196308,
       0.03189575, 0.02362172, 0.01875733, 0.01972652, 0.04609934,
       0.02832035, 0.02723727, 0.01873768, 0.02920193, 0.04368145,
       0.05362565, 0.03750867, 0.05705423, 0.02616554, 0.05492225,
       0.05946544, 0.02067268, 0.05286667, 0.02715958, 0.01851391,
       0.04483757, 0.0497044 , 0.02738718, 0.02807675, 0.03529452,
       0.01761462, 0.0290555 , 0.02126078, 0.04867655, 0.01969722,
       0.06482349, 0.0208486 , 0.03775335, 0.01790536, 0.02628275,
       0.01688086, 0.04825972, 0.02479287, 0.08078592, 0.0405244 ,
       0.0567481 , 0.42715136, 0.02459244, 0.02055496, 0.01788893,
       0.02140169, 0.0168523 , 0.04372829, 0.01417774, 0.02027253,
       0.03379299, 0.02562319, 0.09113903, 0.01800641, 0.02601451,
       0.02192151, 0.05883254, 0.06063652, 0.02213512, 0.0490408 ,
       0.107259  , 0.03554688, 0.08100327, 0.03687953, 0.01383143,
       0.04353143, 0.02503499, 0.02109182, 0.02335692, 0.02487711,
       0.01846983, 0.17894826, 0.02001321, 0.03933914, 0.02667821,
       0.02688208, 0.09402767, 0.17147224, 0.02141145, 0.04933399,
       0.02117888, 0.02907963, 0.0181941 , 0.09942848, 0.0542512 ,
       0.03711357, 0.01990152, 0.0226725 , 0.04662307, 0.15225575,
       0.05131105, 0.07286284, 0.03758172, 0.042847  , 0.0275423 ,
       0.01833562, 0.01938365, 0.02239263, 0.02087071, 0.02822063,
       0.01970086, 0.0293845 , 0.03682166, 0.03145562, 0.09517292,
       0.02231936, 0.04534344, 0.01654602, 0.10285878, 0.01603566,
       0.01707159, 0.01620315, 0.0548402 , 0.11055276, 0.0236719 ,
       0.02523685, 0.03621554, 0.04040097, 0.11820948, 0.04245234,
       0.0652561 , 0.03133764, 0.02722336, 0.02000786, 0.02065253,
       0.02702029, 0.04127656, 0.01951224, 0.01712655, 0.06128878,
       0.01998806, 0.11778321, 0.03751754, 0.02091729, 0.01735916,
       0.02161377, 0.11042003, 0.02718639, 0.02335686, 0.07627791,
       0.03083916, 0.03922433, 0.02274834, 0.0389775 , 0.03132815,
       0.05469954, 0.04909771, 0.02329713, 0.02162328, 0.02817907,
       0.2165197 , 0.02260706, 0.02636939, 0.02670353, 0.02136401,
       0.03661882, 0.05903542, 0.02005955, 0.04905409, 0.02374517,
       0.0303572 , 0.33451494, 0.01930883, 0.03951055, 0.03438156,
       0.02249107, 0.05144978, 0.03172098, 0.05393014, 0.07728099,
       0.0358692 , 0.06827127, 0.05334193, 0.05234926, 0.05850684,
       0.01947304, 0.02592714])

In [ ]:
df['LogG'] = logg_list
flickers = np.array(flr_rms_list)/1000
df['F_8(Calculated)'] = flickers
df

,KepID,KepMag,Teff(SDSS),F_8(Corr),R(Corr),Zcross,LogG,F_8(Calculated)
0,1164109.0,10.88,6607.0,0.0630,3.68,27.0,4.105,NaN
1,1725815.0,10.83,6550.0,0.0497,0.28,75.0,3.982,NaN
2,1868918.0,11.56,6252.0,0.0470,0.43,84.0,4.207,NaN
3,2010835.0,11.33,6103.0,0.0530,0.14,245.0,4.125,NaN
4,2013883.0,11.21,6278.0,0.0556,0.48,32.0,4.456,NaN
...,...,...,...,...,...,...,...,...
537,12555505.0,9.62,5704.0,0.0298,0.29,49.0,4.380,NaN
538,12600459.0,10.41,6303.0,0.0409,0.43,93.0,4.303,NaN
539,12602236.0,10.15,6522.0,0.0447,0.89,65.0,4.196,NaN
540,12690331.0,11.48,6626.0,0.0668,0.51,67.0,3.969,NaN
541,12735580.0,11.49,6170.0,0.0736,0.33,126.0,3.994,NaN

The flickers calculated are plotted with the range and log g.

In [ ]:
x = df['F_8(Calculated)']
y = np.log10(df['R(Corr)'])
c = df['LogG']
s = df['Zcross']
plt.figure(figsize = (12,8))
img = plt.scatter(x,y,c=c*0.9,s=s*1.5,cmap='gist_rainbow',vmin=2.5,vmax=5.2)
plt.colorbar(img,label=r'Astroseismic $log_{10}g$ ($cm$  $s^{-2}$)')
plt.xlabel(r'$F_8$ (p.p.t, Kepmag corrected)')
plt.ylabel(r'$\log_{10}[R_{var}$(p.p.t Kepmag corrected)]')

The Flicker plot obtained from the data of Bastein.

In [ ]:
 = df['F_8(Corr)']
y = np.log10(df['R(Corr)'])
c = df['LogG']
s = df['Zcross']
plt.figure(figsize = (12,8))
img = plt.scatter(x,y,c=c*0.9,s=s*1.5,cmap='gist_rainbow',vmin=2.5,vmax=5.2)
plt.colorbar(img,label=r'Astroseismic $log_{10}g$ ($cm$  $s^{-2}$)')
plt.xlabel(r'$F_8$ (p.p.t, Kepmag corrected)')
plt.ylabel(r'$\log_{10}[R_{var}$(p.p.t Kepmag corrected)]')

The error is around 0 for some stars in the range 10 and 10.5 of Kep Meg. But some stars show a heavy difference in the F_8. But there is a pattern seen in the difference between the obtained flickers and from the paper.

In [ ]:
plt.scatter(df['KepMag'],f8_error)

In [ ]:
table

In [ ]:
 flickers = np.array(flr_rms_list)/1000
 flickers

10000 = 21600 hours

In [ ]:
Kep_Magnitude = np.array([11.235, 11.623, 11.253, 11.730, 11.099, 11.629])
F8_pap= np.array([0.046, 0.055, 0.049, 0.067, 0.171, 0.284]) 
f8_diff = (F8_pap - flickers)/F8_pap
plt.scatter(Kep_Magnitude,f8_diff)

In [ ]:
sum={'calc flicker':flickers,'Bastien flicker':F8_pap, 'Flicker error':f8_diff, 'Kep Mag': Kep_Magnitude}
table=pd.DataFrame(sum)
table